[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
mysql-connector-python = "*"
flask-login = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
python-decouple = "*"
mysqlclient = "*"
gunicorn = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
